<div class="navbar" id="myNavbar">
		<a href="index">Home</a>
		<a href="about">About</a>
		<div class="dropdown">
			<button class="dropbtn">Characters
				<i class="droptent"></i>
			</button>
				<div class="dropdown-content">
					<a href="alice">Alice</a>
					<a href="snow">Snow White</a>
					<a href="red">Red Riding Hood</a>
					<a href="cinder">Cinderella</a>
					<a href="pino">Pinocchio</a>
					<a href="mermaid">Little Mermaid</a>
					<a href="gretel">Gretel</a>
					<a href="briar">Briar Rose</a>
					<a href="kaguya">Kaguya</a>
					<a href="dorothy">Dorothy</a>
					<a href="nutcracker">Nutcracker</a>
					<a href="piggies">Three Little Piggies</a>
					<a href="aladdin">Aladdin</a>
					<a href="rapunzel">Rapunzel</a>
					<a href="hamelin">Hamelin</a>
					<a href="matchgirl">Little Match Girl</a>
					<a href="collab">Collab</a>
				</div>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>
