<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<title>SINoALICE Art</title>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>
	
	<div class="navbar" id="myNavbar">
		<a href="index">Home</a>
		<a href="about">About</a>
		<div class="dropdown">
			<button class="dropbtn">Characters
				<i class="droptent"></i>
			</button>
				<div class="dropdown-content">
					<a href="alice">Alice</a>
					<a href="snow">Snow White</a>
					<a href="red">Red Riding Hood</a>
					<a href="cinder">Cinderella</a>
					<a href="pino">Pinocchio</a>
					<a href="mermaid">Little Mermaid</a>
					<a href="gretel">Gretel</a>
					<a href="briar">Briar Rose</a>
					<a href="kaguya">Kaguya</a>
					<a href="dorothy">Dorothy</a>
					<a href="nutcracker">Nutcracker</a>
					<a href="piggies">Three Little Piggies</a>
					<a href="aladdin">Aladdin</a>
					<a href="rapunzel">Rapunzel</a>
					<a href="hamelin">Hamelin</a>
					<a href="matchgirl">Little Match Girl</a>
					<a href="collab">Collab</a>
				</div>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

    <main id="content" class="main-content" role="main">
      {{ content }}
	    <h3>Alice</h3>
		<div id="buttons">
			<div class="drpdwn">
				<button class="drpbtn">Breaker
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage1();">Breaker</button><br>
						<button onclick="changeImage4();">-Original-</button><br>
						<button onclick="changeImage7();">Alternative</button><br>
						<button onclick="changeImage20();">Alternative 2</button><br>
						<button onclick="changeImage21();">Alternative Blood</button><br>
						<button onclick="changeImage10();">Proud Lion Half-Nightmare</button><br>
						<button onclick="changeImage16();">Valentine</button><br>
						<button onclick="changeImage23();">Proud Lion Breaker</button><br>
						<button onclick="changeImage29();">Divine Fortitude Breaker</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Crusher
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage8();">Kimono</button><br>
						<button onclick="changeImage13();">-Mizugi-</button><br>
						<button onclick="changeImage14();">Crusher</button><br>
						<button onclick="changeImage18();">Wrath Wolf Crusher</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Gunner
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage9();">Gunner</button><br>
						<button onclick="changeImage11();">Envious Serpent Gunner</button><br>
						<button onclick="changeImage28();">-Child-</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Paladin
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage2();">Paladin</button><br>
						<button onclick="changeImage6();">Half-Nightmare</button><br>
						<button onclick="changeImage22();">-Luxury-</button><br>
						<button onclick="changeImage26();">Greedy Crow Paladin</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Sorcerer
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage30();">Sorcerer</button><br>
						<button onclick="changeImage19();">Gluttonous Tiger Sorcerer</button><br>
						<button onclick="changeImage24();">Travelers</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Minstrel
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage5();">Minstrel</button><br>
						<button onclick="changeImage15();">Grandioso</button><br>
						<button onclick="changeImage17();">-Camp-</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Cleric
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage3();">Cleric</button><br>
						<button onclick="changeImage25();">Lustful Scorpion Cleric</button><br>
						<button onclick="changeImage27();">Songstress</button><br>
					</div>
			</div>
			<div class="drpdwn">
				<button class="drpbtn">Mage
					<i class="drptnt"></i>
				</button>
					<div class="drpdwn-content">
						<button onclick="changeImage12();">Mage</button><br>
					</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		
		<img id='images' src=''/>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
	<script>
	function myFunction() {
		var x = document.getElementById("myNavbar");
		if (x.className === "navbar") {
			x.className += " responsive";
		} else {
			x.className = "navbar";
		}
	}
	</script>
  </body>
</html>
